# Recursive
target
*.iml
*.ipr
*.iws

cobertura.ser
.DS_Store
.idea/

# Eclipse
#.project
#.settings
#.classpath
#.springBeans

# Temporary
/storage
*/storage
/data
*/data

#Logs
logs/
*.log

# Gradle
build/
gradle
gradlew
gradlew.bat
.gradle
classes

# Ansible
*.retry

# Bower
bower_components